<div class="container pt-5">
    <div class="alert alert-primary" role="alert">
        @*<img src="@ViewBag.personPhoto" style="width:200px; height:200px; object-fit:cover; border-radius:100%" />*@
        Hey, @TempData["name"] . Welcome to our site!
    </div>
</div>